body{
	display: inline-flex;
	vertical-align: center;
	text-align: center;
}

button{
	display: block;
	text-align: center;
	width: 80px;
	height: max-content;
	margin-top: 70px;
	margin-left: 450px;
}

button.insertar{
	display: initial;
	margin-top: unset;
	margin-left: unset;
}

textarea{
	display: block;
}

#divInsertar{
	display: grid;
	background-color: burlywood;
	width: 950px;
	height: -webkit-fill-available;
	border-left-style: double;
}
#laterales{
	width: 200px;
	height: -webkit-fill-available;
	background-color: sienna;
	display: inline-flex;
}

#principal{
	display: block;
	background-color: burlywood;
	width: 950px;
	height: -webkit-fill-available;
	border-left-style: double;
}
#lateralD{
	width: 200px;
	height: -webkit-fill-available;
	background-color: sienna;
	display: inline-flex;
	align-self: right;
	border-left-style: double;
}