body{
	display: inline-flex;
	vertical-align: center;
	text-align: center;
}

button{
	display: block;
	text-align: center;
	width: max-content;
	height: 50px;
	margin-top: 100px;
	margin-left: 350px;
}
#laterales{
	width: 200px;
	height: -webkit-fill-available;
	background-color: sienna;
	display: inline-flex;
}

#principal{
	display: block;
	background-color: burlywood;
	width: 950px;
	height: -webkit-fill-available;
	border-left-style: double;
}
#lateralD{
	width: 200px;
	height: -webkit-fill-available;
	background-color: sienna;
	display: inline-flex;
	align-self: right;
	border-left-style: double;
}