body{
	display: inline-flex;
	vertical-align: center;
	text-align: center;
}

button{
	display: block;
	text-align: center;
	font-size:25px;
	width: 300px;
	height: max-content;
	margin-top: 70px;
	margin-left: 400px;
}

button.insertar{
	display: initial;
	margin-top: unset;
	margin-left: unset;
}
button.buscar{
	display: initial;
	margin-top: unset;
	margin-left: unset;
}

textarea{
	display: block;
	font-size:18px;
	height:50px;
}

#divInsertar{
	display: grid;
	background-color: burlywood;
	width: 950px;
	height: -webkit-fill-available;
	border-left-style: double;
}
#divBuscar{
	display: grid;
	background-color: burlywood;
	width: 950px;
	height: -webkit-fill-available;
	border-left-style: double;
}
#Vender{
	display: grid;
	background-color: burlywood;
	width: 950px;
	height: -webkit-fill-available;
	border-left-style: double;
}

#VentaCliente{
	display: grid;
	background-color: burlywood;
	width: 950px;
	height: -webkit-fill-available;
	border-left-style: double;
}
#laterales{
	width: 200px;
	height: -webkit-fill-available;
	background-color: sienna;
	display: inline-flex;
}
th,td{
	border: 1px solid black;
	background-color: white;
}

#principal{
	display: block;
	background-color: burlywood;
	width: 950px;
	height: -webkit-fill-available;
	border-left-style: double;
}
#lateralD{
	width: 200px;
	height: ;
	background-color: sienna;
	display: inline-flex;
	border-left-style: double;
}

.Titulos{
	font-size:25px;
}
